*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#menu{
    background-color: lightgrey;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 10px;
    
}
#menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 2px;
    border: black solid 3px;
    margin: 5px;
    padding: 5px;
    font-size: 90%;
    

}
#menu a:hover {
    background-color: lightblue;
    
  }

